
body {
  margin:0;
  padding:15px 64px;
  background: #efefef;  
  font-family:caslon, georgia, serif;
  background: #f3f3f3; 
  color: #333; 
  line-height:1.4em;
}

.wrap {
  background:#fff;
  max-width:800px;
  margin:0 auto;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  padding:0;
}

main {
  padding: 2rem;
}

header {
  padding-bottom:0.5rem;
}

nav.sitenav, footer {
  display:flex;
  align-items:center;
  padding-bottom:10px;
  max-width: 800px;
  margin: 0 auto;
  font-family: sans-serif;
}

footer {
  padding-bottom: 32px;
  padding-top:0;
}

nav.sitenav a,
footer a {
  text-decoration: none;
  color:#6a6a6a;
}

nav a svg path {
  fill: #6a6a6a;
  stroke: #6a6a6a;
}

@media screen and (max-width:767px){
  body {
    padding: 0px;
  }
  .wrap {
    box-shadow: none;
  }
  nav.sitenav {
    padding-top: 32px;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-family: caslon, georgia, serif;
  line-height:1em;
  font-weight:400;
  text-transform: capitalize;
}

h2 {
  font-size: 2rem;
  padding: 2rem 0 1rem;
  margin: 0;
}

h3 {
  font-size: 31px;
  padding: 1rem 0 1rem;
  line-height: 1.3em;
  padding-bottom: 0.3em;
}

@media screen and (max-width:767px){
  h2 {
    font-size: 12vw;
    padding: 4rem 0 2rem;
  }
}

header h1 {
  font-size:4rem;
  margin: 0;
}

ul {
  padding:0;
}

a {
  color:#000;
  outline:0;
}

a:focus, 
a:hover,
a[aria-current='page'] {
  color:#c13f00;
}

a:focus svg path, 
a:hover svg path {
  fill: #c13f00;
  stroke: #c13f00;
}

footer svg {
  transform: translateX(-1px) translateY(2px);
}

footer a:focus svg path, 
footer a:hover svg path {
  fill: none;
  stroke: #c13f00;
}

.btn,
.btns a {
  display: inline-block;
  text-decoration: none;
  padding: 7px 19px;
  background: #c13f00;
  color: #fff;
  border-radius: 3px;
  margin-top: 1em;
  transition:background 0.3s ease-in;
}

.btn:hover,
.btns a:hover {
  background:#e34a00;
  color:#fff;
  transition:background 0.3s ease-out;
}


nav.sitenav a svg {
  height:40px;
  width:40px;
  display:block;
  margin:0;
}

/* nav a:focus img,
nav a:hover img,
nav a[aria-current='page'] img {
  filter:invert(100%);
} */

nav.sitenav a{
  margin-right:14px;
}


main ul {
  list-style-type: none;
  margin: 0 0 20px 0;
}

main section ul {
  padding:0;
}

main ul.cols {
  columns:3 130px;
  column-gap: 20px;
}

main ul li {
  position: relative;
  margin: 0 0 0.8em 0;
  padding: 0 0 0 11px;
}

main ul li:before {
    content: "";
    position: absolute;
    left: 0;
    top: 4px;
    width: 8px;
    height: 16px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Ccircle cx='3' cy='14' r='3'/%3E%3C/svg%3E");
    background-repeat:no-repeat;
}

dd, footer {
  font-size:11px;
  color:#585858;
}


body code[class*="language-"],
body pre[class*="language-"] {
  color: #ccc;
  font-family: monospace;
  font-size: 12px;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 1;
  -o-tab-size: 1;
  tab-size: 1;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;

}

/* Code blocks */
pre[class*="language-"] {
  overflow: auto;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 40px;
}


pre[class*="language-"] {
  background: #2d2d2d;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 2px 4px;
  border-radius: .3em;
  white-space: normal;
  background:#eee;
  color:#333;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #999;
}

.token.punctuation {
  color: #ccc;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
  color: #e2777a;
}

.token.function-name {
  color: #6196cc;
}

.token.boolean,
.token.number,
.token.function {
  color: #f08d49;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: #f8c555;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: #cc99cd;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: #7ec699;
}

.token.operator,
.token.entity,
.token.url {
  color: #67cdcc;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: green;
}

.postlist, .taglist {
  margin-top:80px;
}

section.secondary-nav {
  margin-bottom:60px;
}

main > dl {
  display: flex;
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  margin: 0px auto 20px;
  padding: 5px 0;
}

dt, dd {
  flex:1;
  font-size:14px;
  font-weight:400;
}

dd {
  font-style:italic;
}
.enquoted {
  transform: translateX(-40px);
  text-transform: capitalize;
}
ul.projectlist {
  list-style-type:none;
  display:flex;
  flex-wrap:wrap;
}

main ul li.projectlist__item {
  margin:0 20px 20px 0;
}
.projectlist__item a {
  display:flex;
  flex-direction:column;
  text-align: center;
  width: 150px;
}
.projectlist__icon {
  width:150px;
  height:150px;
  border-radius:50%;
  background-size:cover;
}
main ul.projectlist li::before {
  display:none;
}
.projectlist__item figcaption {
  padding:10px 0 0;
  font-style:normal;
}


.pt {
  padding-top:30px;
}

ol li {
  margin-left: 16px;
}

.col2 {
  display:flex;
}

.col2 > div {
  flex: 1;
}

@media screen and (max-width:450px){
  .col2 {
    flex-direction: column;
  }
}

