/* latin-ext */
@font-face {
  font-family: 'Libre Caslon Text';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../assets/fonts/DdT678IGsGw1aF1JU10PUbTvNNaDMfq95-5DGjG2u9vUKg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Libre Caslon Text';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../assets/fonts/DdT678IGsGw1aF1JU10PUbTvNNaDMfq95-BDGjG2u9s.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Libre Caslon Text';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../assets/fonts/DdT878IGsGw1aF1JU10PUbTvNNaDMfq21-JJHRO0i9o.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Libre Caslon Text';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../assets/fonts/DdT878IGsGw1aF1JU10PUbTvNNaDMfq41-JJHRO0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Libre Caslon Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../assets/fonts/TuGOUUFxWphYQ6YI6q9Xp61FQzxDRKmzr1lYfxlPCz4c3AU.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Libre Caslon Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../assets/fonts/TuGOUUFxWphYQ6YI6q9Xp61FQzxDRKmzr1lWfxlPCz4c.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'pix Chicago';
  font-style: normal;
  font-weight: normal;
  src: local('pix Chicago'), url('../assets/fonts/pixChicago.woff') format('woff');
  }

body {
  margin:0;
  padding:32px 64px;
  background: #efefef;  
  font-family:'Libre Caslon Text', caslon, georgia, serif;
  background: #f3f3f3; 
  color: #333; 
  line-height:1.4em;
}

.wrap {
  background:#fff;
  max-width:800px;
  margin:0 auto;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

nav, footer {
  display:flex;
  align-items:center;
  padding-bottom:32px;
  max-width: 800px;
  margin: 0 auto;
  font-family: sans-serif;
}

footer {
  padding-bottom: 32px;
  padding-top:0;
}

nav a,
footer a {
  text-decoration: none;
  color:#6a6a6a;
}

nav a svg path {
  fill: #6a6a6a;
  stroke: #6a6a6a;
}

@media screen and (max-width:767px){
  body {
    padding: 0px;
  }
  .wrap {
    box-shadow: none;
  }
  nav {
    padding-top: 32px;
  }
}

main > :not(figure), header {
  width:calc(100% - 128px);
  max-width:1280px;
  margin: 0 auto;  
}

@media screen and (max-width:767px){
  nav, main > :not(figure), header, footer {
    width:calc(100% - 60px);
  }
}

figure {
  width: 100%;
  padding: 30px 0 0px;
  margin: 0;
  position: relative;
}

figure img {
  vertical-align: top;
  width: 100%;
  height: auto;
}

main p {
  padding-bottom:10px;
}

main>*:last-child:not(figure) {
  padding-bottom:80px;
}

nav, 
main > :not(figure), 
figcaption,
header, 
footer {
  padding-left: 64px;
  padding-right: 64px;
}

@media screen and (max-width:767px){
  nav, 
  main > :not(figure), 
  figcaption,
  header, 
  footer {
    padding-left: 30px;
    padding-right: 30px;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-family:'Libre Caslon Display', caslon, georgia, serif;
  line-height:1em;
  font-weight:400;
}

h2 {
  font-size: 3rem;
  padding: 5rem 0 1rem;
  margin: 0;
}

h3 {
  font-size: 31px;
  line-height: 1.3em;
  padding-bottom: 0.3em;
}

@media screen and (max-width:767px){
  h2 {
    font-size: 12vw;
    padding: 4rem 0 2rem;
  }
}

header p.pretitle {
  font-family:'Libre Caslon Display', caslon, georgia, serif;
  font-size:3rem;
  line-height: 1em;
  padding: 64px 0 13px;
  margin:0;
}

header h1 {
  font-size:8rem;
  margin: 0 0 0.15em;
}


header p.posttitle {
  font-size:1.4rem;
  line-height: 1em;
  padding: 0 0 64px;
  margin: 0;
  font-style: italic;
}

@media screen and (max-width:767px){
  header p.pretitle {
    font-size:6vw;
  }
  header h1 {
    font-size:16vw;
  }
  header p.posttitle {
    font-size:3vw;
  }
}

figcaption {
  font-style: italic;
  padding-top: 8px;
}

a {
  color:#000;
  outline:0;
}

a:focus, 
a:hover,
a[aria-current='page'] {
  color:#c13f00;
}

a:focus svg path, 
a:hover svg path {
  fill: #c13f00;
  stroke: #c13f00;
}

footer svg {
  transform: translateX(-1px) translateY(2px);
}

footer a:focus svg path, 
footer a:hover svg path {
  fill: none;
  stroke: #c13f00;
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 7px 19px;
  background: #c13f00;
  color: #fff;
  border-radius: 3px;
  margin-top: 1em;
  transition:background 0.3s ease-in;
}

.btn:hover {
  background:#e34a00;
  color:#fff;
  transition:background 0.3s ease-out;
}


nav a svg {
  height:40px;
  width:40px;
  display:block;
  margin:0;
}

/* nav a:focus img,
nav a:hover img,
nav a[aria-current='page'] img {
  filter:invert(100%);
} */

nav a{
  margin-right:14px;
}

main img {
  max-width:100%;
}

main ul {
  list-style-type: none;
  margin: 0 0 20px 0;
}

main section ul {
  padding:0;
}

main ul.cols {
  columns:3 130px;
  column-gap: 20px;
}

main ul li {
  position: relative;
  margin: 0 0 0.8em 0;
  padding: 0 0 0 11px;
}

main ul li:before {
    content: "";
    position: absolute;
    left: 0;
    top: 4px;
    width: 8px;
    height: 16px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Ccircle cx='3' cy='14' r='3'/%3E%3C/svg%3E");
    background-repeat:no-repeat;
}

dd, footer {
  font-size:11px;
  color:#585858;
}


body code[class*="language-"],
body pre[class*="language-"] {
  color: #ccc;
  font-family: monospace;
  font-size: 12px;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 1;
  -o-tab-size: 1;
  tab-size: 1;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;

}

/* Code blocks */
pre[class*="language-"] {
  overflow: auto;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 40px;
}


pre[class*="language-"] {
  background: #2d2d2d;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 2px 4px;
  border-radius: .3em;
  white-space: normal;
  background:#eee;
  color:#333;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #999;
}

.token.punctuation {
  color: #ccc;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
  color: #e2777a;
}

.token.function-name {
  color: #6196cc;
}

.token.boolean,
.token.number,
.token.function {
  color: #f08d49;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: #f8c555;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: #cc99cd;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: #7ec699;
}

.token.operator,
.token.entity,
.token.url {
  color: #67cdcc;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: green;
}

.postlist, .taglist {
  margin-top:80px;
}

section.secondary-nav {
  margin-bottom:60px;
}

main > dl {
  display: flex;
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  margin: 0px auto 20px;
  padding: 5px 0;
}

dt, dd {
  flex:1;
  font-size:14px;
  font-weight:400;
}

dd {
  font-style:italic;
}
.enquoted {
  transform: translateX(-40px);
  text-transform: capitalize;
}
ul.projectlist {
  list-style-type:none;
  display:flex;
  flex-wrap:wrap;
}

main ul li.projectlist__item {
  margin:0 20px 20px 0;
}
.projectlist__item a {
  display:flex;
  flex-direction:column;
  text-align: center;
  width: 150px;
}
.projectlist__icon {
  width:150px;
  height:150px;
  border-radius:50%;
  background-size:cover;
}
main ul.projectlist li::before {
  display:none;
}
.projectlist__item figcaption {
  padding:10px 0 0;
  font-style:normal;
}

/* image swapper */

.high {
  display:none;
}

img.low {
  image-rendering: crisp-edges;
}

a.l, a.h {
  text-decoration: none;
  color: #000;
  font-size: 8px;
  background: #fff;
  font-family: 'pix Chicago';
  padding: 0 5px;
  border: 1px solid #000;
  border-radius: 5px;
  margin-left:auto;
}

nav a.l, 
nav a.h {
  margin-right:0;
}

a.l a:hover,
a.h a:hover {
  background:#000;
  color:#fff;
}

a.l {
  display:none;
}

html:target .high,
html:target a.l,
body:target a.h {
  display:block;
}

html:target .low,
html:target a.h,
body:target a.l{
  display:none;
}

.pt {
  padding-top:30px;
}

ol li {
  margin-left: 16px;
}